.card-number{
  margin-bottom: 20px;
}

.card-wrap{
    display: flex;
    justify-content: space-between;
}

.edit-wrap{
    display: flex;
    color: rgb(51, 130, 215);
    align-items: center;
}

.card-input{
    width: 100%;
    padding: 10px;
    font-size: 24px;
    border-radius: 10px;
    border: 2px solid #f3f3f5;
    color:   rgb(51, 130, 215);
}

.card-input:focus{
    background-color: #f3f3f5;
    border-color:  rgb(51, 130, 215);
   
}

.edit-text{
    margin-left: 5px;
    font-size: 14px;
    font-weight: 500;
}