.cvv-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.cvv-input{
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid #f3f3f5;
    color:   rgb(51, 130, 215);
    width: 100%;
}

.cvv-input:focus{
    background-color: #f3f3f5;
    border:  2px solid rgb(51, 130, 215);
}