.cvv-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.cvv-input{
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid #f3f3f5;
    color: var(--blue);
    width: 100%;
}

.cvv-input:focus{
    background-color: #f3f3f5;
    border:  2px solid var(--blue);
}

.grid-icon-div{
    position: relative;
}

.cvv-grid-icon{
    position: absolute;
    right: 0;
    top: 15px;
    font-size: 20px;
    opacity: .5;
}