.password-input{
    width:100%;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid #f3f3f5
}

.password-input:focus{
    background-color: #f3f3f5;
    border-color: var(--blue);
}

.password-grid{
    position: relative;
}

.password-grid-icon{
    position: absolute;
    right: 0;
    top: 15px;
    font-size: 20px;
    opacity: .5;
}