.password-input{
    width:100%;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid #f3f3f5
}

.password-input:focus{
    background-color: #f3f3f5;
    border-color:  rgb(51, 130, 215);
}