.app-main{
  position: relative;
}

.App{
   width: 90%;
   background-color: #fff;
   margin: 50px auto;
   padding: 10px 30px;
   padding-top: 100px;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.close-btn{
   position: absolute;
   top: 0px;
   right: 34px;
   background: rgb(243, 241, 241);
   padding: 10px;
}
