.app-main{
  position: relative;
}

.App{
   width: 90%;
   background-color: #fff;
   margin: 50px auto;
   padding: 10px 30px;
   padding-top: 100px;
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   align-items: center;
}

.close-btn{
   width: 2em;
   height: 2em;
   padding: 2px;
   position: absolute;
   top: 0px;
   right: 34px;
   background: rgb(243, 241, 241);
}

@media only screen and (max-width: 850px){
  .second-content{
   margin-top: 70px;
   margin-bottom: 30px;
  } 
}